Import required libraries

In [59]:
import pandas as pd 
import numpy as np 
import matplotlib as plt 
%matplotlib inline

Read the csv files of the three locations

In [60]:
benin = pd.read_csv('./data/benin-malanville.csv', na_values=["NAN", "?", " "])
sierraleone = pd.read_csv('./data/sierraleone-bumbuna.csv', na_values=["NAN", "?", " "])
togo = pd.read_csv('./data/togo-dapaong_qc.csv', na_values= ["NAN", "?"," "])

Overview of the dataset for the three locations

In [61]:
benin.head(5)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [62]:
sierraleone.head(5)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

In [63]:
togo.head(5)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

Features of the dataset

In [64]:
benin.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

In [65]:
sierraleone.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

In [66]:
togo.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

Data type of the features for the datasets

In [67]:
benin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [68]:
sierraleone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [69]:
togo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

Checking for empty values

In [70]:
benin.isna().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [71]:
sierraleone.isna().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [72]:
togo.isna().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

Size of the datasets

In [73]:
benin.shape

(525600, 19)

In [74]:
sierraleone.shape

(525600, 19)

In [75]:
togo.shape

(525600, 19)

Data preprocessing

Comment values for the three dataset recors is empty, so no need to keep it in the data. We will remove it.

In [76]:
benin.drop(columns=["Comments"], inplace=True)

In [77]:
sierraleone.drop(columns=["Comments"], inplace=True)

In [78]:
togo.drop(columns=["Comments"], inplace=True)

Use appropriate datatypes

In [79]:
benin["Timestamp"] = pd.to_datetime(benin["Timestamp"])

In [80]:
sierraleone["Timestamp"] = pd.to_datetime(sierraleone["Timestamp"])

In [81]:
togo["Timestamp"] = pd.to_datetime(togo["Timestamp"])

Extract date, time, year, month and day from the datetime

In [82]:
benin["Date"] = benin["Timestamp"].dt.date

In [83]:
benin["Time"] = benin["Timestamp"].dt.time

In [84]:
benin["Year"] = benin["Timestamp"].dt.year

In [85]:
benin["Month"] = benin["Timestamp"].dt.month

In [86]:
benin["Day"] = benin["Timestamp"].dt.day

In [87]:
sierraleone["Date"] = sierraleone["Timestamp"].dt.date

In [88]:
sierraleone["Time"] = sierraleone["Timestamp"].dt.time

In [89]:
sierraleone["Year"] = sierraleone["Timestamp"].dt.year

In [90]:
sierraleone["Month"] = sierraleone["Timestamp"].dt.month

In [91]:
sierraleone["Day"] = sierraleone["Timestamp"].dt.day

In [92]:
togo["Date"] = togo["Timestamp"].dt.date

In [93]:
togo["Time"] = togo["Timestamp"].dt.time

In [94]:
togo["Year"] = togo["Timestamp"].dt.year

In [95]:
togo["Month"] = togo["Timestamp"].dt.month

In [96]:
togo["Day"] = togo["Timestamp"].dt.day

In [97]:
togo.head(10)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,...,BP,Cleaning,Precipitation,TModA,TModB,Date,Time,Year,Month,Day
0,2021-10-25 00:01:00,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,...,977,0,0.0,24.7,24.4,2021-10-25,00:01:00,2021,10,25
1,2021-10-25 00:02:00,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,...,977,0,0.0,24.7,24.4,2021-10-25,00:02:00,2021,10,25
2,2021-10-25 00:03:00,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,...,977,0,0.0,24.7,24.4,2021-10-25,00:03:00,2021,10,25
3,2021-10-25 00:04:00,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,...,977,0,0.0,24.7,24.4,2021-10-25,00:04:00,2021,10,25
4,2021-10-25 00:05:00,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,...,977,0,0.0,24.7,24.4,2021-10-25,00:05:00,2021,10,25
5,2021-10-25 00:06:00,-1.2,0.0,0.0,0.0,0.0,24.9,93.9,1.2,1.4,...,977,0,0.0,24.8,24.5,2021-10-25,00:06:00,2021,10,25
6,2021-10-25 00:07:00,-1.1,0.0,0.0,0.0,0.0,24.9,93.8,1.2,1.4,...,977,0,0.0,24.8,24.5,2021-10-25,00:07:00,2021,10,25
7,2021-10-25 00:08:00,-1.1,0.0,0.0,0.0,0.0,24.9,93.7,1.1,1.4,...,977,0,0.0,24.8,24.5,2021-10-25,00:08:00,2021,10,25
8,2021-10-25 00:09:00,-1.1,0.0,0.0,0.0,0.0,24.9,93.6,1.0,1.4,...,977,0,0.0,24.8,24.5,2021-10-25,00:09:00,2021,10,25
9,2021-10-25 00:10:00,-1.1,0.0,0.0,0.0,0.0,24.9,93.4,0.9,1.4,...,977,0,0.0,24.8,24.5,2021-10-25,00:10:00,2021,10,25

Remove Timestamp column as we already extracted the information we want

In [98]:
benin.drop(columns=["Timestamp"], inplace=True)

In [99]:
benin.head(5)

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,...,BP,Cleaning,Precipitation,TModA,TModB,Date,Time,Year,Month,Day
0,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,...,998,0,0.0,26.3,26.2,2021-08-09,00:01:00,2021,8,9
1,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,...,998,0,0.0,26.3,26.2,2021-08-09,00:02:00,2021,8,9
2,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,...,997,0,0.0,26.4,26.2,2021-08-09,00:03:00,2021,8,9
3,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,...,997,0,0.0,26.4,26.3,2021-08-09,00:04:00,2021,8,9
4,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,...,997,0,0.0,26.4,26.3,2021-08-09,00:05:00,2021,8,9

In [100]:
sierraleone.drop(columns=["Timestamp"], inplace=True)

In [101]:
togo.drop(columns=["Timestamp"], inplace=True)

Reordering the columns

In [102]:
columns = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS', 'WSgust',
       'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation', 'TModA',
       'TModB']

second_section_data = pd.DataFrame(columns=columns)


new_order = ['Date', 'Time', 'Year', 'Month', 'Day'] + columns

benin = benin[new_order]

sierraleone = sierraleone[new_order]

togo = togo[new_order]

In [103]:
togo.head(5)

,Date,Time,Year,Month,Day,GHI,DNI,DHI,ModA,ModB,...,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
0,2021-10-25,00:01:00,2021,10,25,-1.3,0.0,0.0,0.0,0.0,...,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4
1,2021-10-25,00:02:00,2021,10,25,-1.3,0.0,0.0,0.0,0.0,...,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4
2,2021-10-25,00:03:00,2021,10,25,-1.3,0.0,0.0,0.0,0.0,...,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4
3,2021-10-25,00:04:00,2021,10,25,-1.2,0.0,0.0,0.0,0.0,...,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4
4,2021-10-25,00:05:00,2021,10,25,-1.2,0.0,0.0,0.0,0.0,...,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4